/app/bootstrap.php.cache
/app/cache/*
!/app/config/parameters.yml
/app/logs/*
/app/phpunit.xml
/bin/
/composer.phar
/vendor/
/web/bundles/

.DS_Store
.idea/*
composer.lock
/.project


.gitignore
/app/SymfonyRequirements.php
/app/check.php
/app/config/security.yml
composer.lock

