/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
/app/phpunit.xml
/bin/
/composer.phar
/vendor/
/web/bundles/

.DS_Store
.project
.idea/*
composer.lock
/.project


/app/SymfonyRequirements.php
/app/check.php
composer.lock

