
{% block body %}
    <div id="container" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
{% endblock %}

{% block javascripts %}
    {% javascripts
    'js/jquery-1.11.3.min.js'
    'js/highcharts.js'
    'js/exporting.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
<script type="text/javascript">
    {{ chart(chart) }}
</script>

{% endblock %}